In [1]:
import pandas as pd
import numpy as np
cities = pd.DataFrame(
  [[2463431, 2878.52], [1392609, 5110.21], [5928040, 5905.71]],
  columns=['population', 'area'],
  index=pd.Index(['Vancouver','Calgary','Toronto'], name='city')
)
print(cities)

           population     area
city
Vancouver     2463431  2878.52
Calgary       1392609  5110.21
Toronto       5928040  5905.71

In [4]:
def double_plus(x):
    return 2*x + 1
double_plus = np.vectorize(double_plus, otypes=[np.float])

cities['density'] = cities['population'] / cities['area']
cities['pop-rank'] = cities['population'].rank(ascending=True)
cities

           population     area      density  pop-rank
city
Vancouver     2463431  2878.52   855.797771       2.0
Calgary       1392609  5110.21   272.515024       1.0
Toronto       5928040  5905.71  1003.781086       3.0

In [5]:
cities['pop-rank'] = cities['population'].rank(ascending=False)

In [6]:
cities

           population     area      density  pop-rank
city
Vancouver     2463431  2878.52   855.797771       2.0
Calgary       1392609  5110.21   272.515024       3.0
Toronto       5928040  5905.71  1003.781086       1.0